
body {
  font-family: 'Montserrat';
}
#gmap {
  width:100%;
  height:300px
}

// from https://material.angular.io/components/toolbar/overview
.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.toolbar-smaller {
  font-size: 0.6em;
  font-weight: 400;
}
